/**
 *Color pallete
 */
/**
 * Misc colour palette
 */
/*Nav Bar Color Pallete*/
/*Nav Menus*/
/**
 * Button colour palette
 */
/**
 * Highlighted button colour palette
 */
/**
 * Input colour palette
 */
/**
 * Infobar colour palette
 */
/**
 * Listview colour palette
 */
/**
 * Workflow colour palette
 */
/**
 * Mapping colours
 */
/**
 * Calendar colours
 */
/**
 * Policy editor colour
 */
/**
 * Escalation plan editor colours
 */
/**
 * Size parameters
 */
[data-shadow='1'] {
  box-shadow: -1px 4px 3px 2px rgba(0, 0, 0, 0.2);
}
[data-overflowindicator='1'] {
  border-bottom: 1px solid #ecf0f1;
}
[data-tight='1'] {
  margin: 3px 3px !important;
}
/*
 * Line up sprites on the grid. Origin is in the top left corner (0,0).
 *
 */
body {
  margin: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 12px;
  line-height: 125%;
  background-color: white;
}
body.inline {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.print-header,
.print-footer {
  display: none;
}
@media print {
  body {
    font-family: Cambria, Times new roman, Times, Serif;
    font-size: 12pt;
    line-height: 125%;
  }
  a,
  a:visited {
    color: blue;
    text-decoration: underline;
  }
  .print-header {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
  }
  .print-header h1 {
    font-size: 16pt;
    border-bottom: 0px !important;
    margin: 0px !important;
  }
  .print-header h2 {
    font-size: 11pt;
    font-style: italic;
    margin: 0px !important;
  }
  .print-footer {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 0.5em;
    padding-top: 0.4em;
    font-size: 9pt;
    text-align: right;
  }
}
ul,
ol,
li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
table {
  margin-top: 0.5em;
  border-collapse: collapse;
  margin-bottom: 0.5em;
}
td,
th {
  line-height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  text-align: left;
  vertical-align: top;
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 12px;
  line-height: 125%;
}
img {
  border-width: 0px;
  border-style: none;
  margin-left: 4px;
  margin-right: 4px;
}
h1,
h2,
h3,
h4,
h5,
pre {
  margin: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 0.25em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.9em;
}
h5 {
  font-size: 0.8em;
}
p {
  margin: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-left: 0px;
  margin-right: 0px;
}
pre {
  border-width: 1px;
  border-style: dashed;
  border-color: #6fab9f;
  background-color: #fbfffb;
  overflow: auto;
  display: block;
  font-family: Courier New;
  white-space: nowrap;
}
.readonly pre {
  padding: 0.8em;
}
.-ng-diff-delete {
  color: red;
  text-decoration: line-through;
}
h1.-ng-diff-delete {
  border-bottom-color: red;
}
img.-ng-diff-delete,
.-ng-diff-delete img {
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.-ng-diff-insert {
  color: green;
}
h1.-ng-diff-insert {
  border-bottom-color: green;
}
blockquote {
  font-style: italic;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #747474;
  padding-left: 5px;
  background-color: #E6E6E6;
}
.ocareplacement {
  margin: 0px 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 2px 5px;
  background-color: #2980b9;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ocareplacement.green {
  background-color: #19a488 !important;
  color: white;
}
.ocareplacement.orange {
  background-color: #ef4f21 !important;
  color: white;
}
span[ngendnote]:after,
span[ngfootnote]:after {
  vertical-align: super;
}
span[ngendnote]:after {
  content: '[e]';
}
span[ngfootnote]:after {
  content: '[f]';
}
