.ui-bar-oca {
	background: #E74C3C /*{a-bar-background-color}*/;
	box-shadow: 0 1px 1px 1px rgba(0,0,0,0.3) !important;
}
.ui-bar-oca .ui-link-inherit {
	color: #ffffff /*{a-bar-color}*/;
}

.ui-bar-oca a.ui-link {
	color: #7cc4e7 /*{a-bar-link-color}*/;
	font-weight: bold;
}

.ui-bar-oca a.ui-link:visited {
    color: #2489ce /*{a-bar-link-visited}*/;
}

.ui-bar-oca a.ui-link:hover {
	color: #2489ce /*{a-bar-link-hover}*/;
}

.ui-bar-oca a.ui-link:active {
	color: #2489ce /*{a-bar-link-active}*/;
}

.ui-bar-oca,
.ui-bar-oca input,
.ui-bar-oca select,
.ui-bar-oca textarea,
.ui-bar-oca button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-oca,
.ui-overlay-oca {
	border: 1px solid #aaaaaa /*{a-body-border}*/;
	color: #333333 /*{a-body-color}*/;
	text-shadow: 0 /*{a-body-shadow-x}*/ 1px /*{a-body-shadow-y}*/ 0 /*{a-body-shadow-radius}*/ #ffffff /*{a-body-shadow-color}*/;
	background: #f9f9f9 /*{a-body-background-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #A30000 /*{a-body-background-start}*/), to( #A30000 /*{a-body-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #f9f9f9 /*{a-body-background-start}*/, #eeeeee /*{a-body-background-end}*/);
}
.ui-overlay-oca {
	background-image: none;
	border-width: 0;
}
.ui-body-oca,
.ui-body-oca input,
.ui-body-oca select,
.ui-body-oca textarea,
.ui-body-oca button {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
}
.ui-body-oca .ui-link-inherit {
	color: #333333 /*{a-body-color}*/;
}

.ui-body-oca .ui-link {
	color: #2489ce /*{a-body-link-color}*/;
	font-weight: bold;
}

.ui-body-oca .ui-link:visited {
    color: #2489ce /*{a-body-link-visited}*/;
}

.ui-body-oca .ui-link:hover {
	color: #2489ce /*{a-body-link-hover}*/;
}

.ui-body-oca .ui-link:active {
	color: #2489ce /*{a-body-link-active}*/;
}

.ui-btn-up-oca {
	border: 1px solid #931e21 /*{a-bup-border}*/;
	background: #cf867e; /*{a-bup-background-color}*/;
	font-weight: bold;
	color: #FFF /*{a-bup-color}*/;
	text-shadow: 0 /*{a-bup-shadow-x}*/ 1px /*{a-bup-shadow-y}*/ 0 /*{a-bup-shadow-radius}*/ #ffffff /*{a-bup-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cf867e /*{a-bup-background-start}*/), to( #cf867e /*{a-bup-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #cf867e /*{a-bup-background-start}*/, #cf867e /*{a-bup-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #cf867e /*{a-bup-background-start}*/, #cf867e /*{a-bup-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #cf867e /*{a-bup-background-start}*/, #cf867e /*{a-bup-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #cf867e /*{a-bup-background-start}*/, #cf867e /*{a-bup-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #cf867e /*{a-bup-background-start}*/, #cf867e /*{a-bup-background-end}*/);
}
.ui-btn-up-oca:visited,
.ui-btn-up-oca a.ui-link-inherit {
	color: #2f3e46 /*{a-bup-color}*/;
}
.ui-btn-hover-oca {
	border: 1px solid #931e21 /*{a-bhover-border}*/;
	background: #7EB3CF /*{a-bhover-background-color}*/;
	font-weight: bold;
	color: #FFF /*{a-bhover-color}*/;
	text-shadow: 0 /*{a-bhover-shadow-x}*/ 1px /*{a-bhover-shadow-y}*/ 0 /*{a-bhover-shadow-radius}*/ #ffffff /*{a-bhover-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cf867e /*{a-bhover-background-start}*/), to( #cf867e /*{a-bhover-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #7EB3CF /*{a-bhover-background-start}*/, #7EB3CF /*{a-bhover-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #7EB3CF /*{a-bhover-background-start}*/, #7EB3CF /*{a-bhover-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #7EB3CF /*{a-bhover-background-start}*/, #7EB3CF /*{a-bhover-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #7EB3CF /*{a-bhover-background-start}*/, #7EB3CF /*{a-bhover-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #7EB3CF /*{a-bhover-background-start}*/, #7EB3CF /*{a-bhover-background-end}*/);
}
.ui-btn-hover-oca:visited,
.ui-btn-hover-oca:hover,
.ui-btn-hover-oca a.ui-link-inherit {
	color: #FFF /*{a-bhover-color}*/;
}
.ui-btn-down-oca {
	border: 1px solid #931e21 /*{a-bdown-border}*/;
	background: #7EB3CF /*{a-bdown-background-color}*/;
	font-weight: bold;
	color: #FFF /*{a-bdown-color}*/;
	text-shadow: 0 /*{a-bdown-shadow-x}*/ 1px /*{a-bdown-shadow-y}*/ 0 /*{a-bdown-shadow-radius}*/ #ffffff /*{a-bdown-shadow-color}*/;
	background-image: -webkit-gradient(linear, left top, left bottom, from( #cf867e /*{a-bdown-background-start}*/), to( #cf867e /*{a-bdown-background-end}*/)); /* Saf4+, Chrome */
	background-image: -webkit-linear-gradient( #7EB3CF /*{a-bdown-background-start}*/, #7EB3CF /*{a-bdown-background-end}*/); /* Chrome 10+, Saf5.1+ */
	background-image:    -moz-linear-gradient( #7EB3CF /*{a-bdown-background-start}*/, #7EB3CF /*{a-bdown-background-end}*/); /* FF3.6 */
	background-image:     -ms-linear-gradient( #7EB3CF /*{a-bdown-background-start}*/, #7EB3CF /*{a-bdown-background-end}*/); /* IE10 */
	background-image:      -o-linear-gradient( #7EB3CF /*{a-bdown-background-start}*/, #7EB3CF /*{a-bdown-background-end}*/); /* Opera 11.10+ */
	background-image:         linear-gradient( #7EB3CF /*{a-bdown-background-start}*/, #7EB3CF /*{a-bdown-background-end}*/);
}
.ui-btn-down-oca:visited,
.ui-btn-down-oca:hover,
.ui-btn-down-oca a.ui-link-inherit {
	color: #FFF /*{a-bdown-color}*/;
}
.ui-btn-up-oca,
.ui-btn-hover-oca,
.ui-btn-down-oca {
	 font-family: Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}

/** Override A or B styles **/
.ui-page-theme-a .ui-footer {
    background-color: #FFFFFF;
}
.ui-page-theme-a .ui-footer .ui-navbar {
    background-color: rgba(44,62,80,0.5);
}
.ui-page-theme-a .ui-popup {
    border-color: #2C3C50;
}
.ui-popup-container{
	max-height:100%;
    overflow-y:auto;
    overflow-x:hidden;
}
.ui-page-theme-a .ui-footer .ui-btn, .ui-page-theme-a .ui-controlgroup-controls .ui-btn, .ui-page-theme-a .ui-popup .ui-listview .ui-btn {
    background-color: #2C3C50;
    color: #FFF;
    border: 0;
}

.ui-page-theme-a .ui-footer .ui-btn.ui-btn-b, .ui-page-theme-a .ui-controlgroup-controls .ui-btn.ui-btn-b, .ui-page-theme-a .ui-popup .ui-listview .ui-btn.ui-btn-b {
    background-color: #2980B9;
}

.ui-page-theme-a .ui-input-text,
.ui-page-theme-a .ui-input-search,
.ui-page-theme-a .ui-select .ui-btn {
    background-color: #FFFFFF;
}

.ui-collapsible-inset.ui-collapsible-themed-content .ui-collapsible-content {
    border: 0;
}

.ui-page-theme-a .ui-listview > .ui-li-static,
.ui-page-theme-a .ui-listview > .ui-li-divider,
.ui-page-theme-a .ui-listview > li .ui-btn {
    border-width: 0 0 1px 0;
}

.ui-page-theme-a li a {
    color: #000000;
    text-decoration: none;
}
.ui-checkbox + a.ui-btn.parent-mode {
    position: absolute;
    right: 0;
    top: 50%;
	width: 24px;
	height: 24px;
	font-size: 24px;
	margin: -12px 0 0 0;
    padding: 0;
	z-index: 10;
	border: 0;
	background-color: transparent;
}

.ui-listview + .ui-listview {
    margin-top: 1em;
}

li .ui-checkbox  {
    margin-right: 3em;
}

.ui-page-theme-a .ui-btn.ui-icon-delete {
    text-indent: 0;
    color:#FFF;
}

.ui-page-theme-a .ui-btn.ui-btn-b {
    border-color: rgba(44,62,80,0.1);
}

hr {
	height: 0;
	border: 0;
	border-bottom: 1px solid rgba(44,62,80,0.1);
}

.ui-input-search input {
    padding-left: 2.5em;
}
@media (min-width: 28em) {
    label + .ui-input-text + .ui-input-text {
        float: right;
    }
}

.ui-input-text.ui-state-disabled {
    opacity: .5;
    color: #000;
}

.ui-page-theme-a .ui-btn-up-e, .ui-page-theme-a .ui-btn-up-e a.ui-btn {
	background-color: #2980B9;
	color: white;
}
span[ngendnote]:after,span[ngfootnote]:after {
	vertical-align:super;
}
span[ngendnote]:after {
  content: '[e]';
}
span[ngfootnote]:after {
  content: '[f]';
}
.ocareplacement {
	margin: 0px 1px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	display: inline-block;
	padding: 2px 5px;
	background-color: rgb(41,128,185);
	color:white;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
.ocareplacement.green {
	background-color: rgb(25, 164, 136) !important;
	color:white;
}

.ocareplacement.orange {
	background-color: rgb(239, 79, 33) !important;
	color:white;
}

.ocareplacement.purple {
	background-color: rgb(121, 74, 151) !important;
	color:white;
}