/**
 *Color pallete
 */
/**
 * Misc colour palette
 */
/*Nav Bar Color Pallete*/
/*Nav Menus*/
/**
 * Button colour palette
 */
/**
 * Highlighted button colour palette
 */
/**
 * Input colour palette
 */
/**
 * Infobar colour palette
 */
/**
 * Listview colour palette
 */
/**
 * Workflow colour palette
 */
/**
 * Mapping colours
 */
/**
 * Calendar colours
 */
/**
 * Policy editor colour
 */
/**
 * Escalation plan editor colours
 */
/**
 * Size parameters
 */
[data-shadow='1'] {
  box-shadow: -1px 4px 3px 2px rgba(0, 0, 0, 0.2);
}
[data-overflowindicator='1'] {
  border-bottom: 1px solid #ecf0f1;
}
[data-tight='1'] {
  margin: 3px 3px !important;
}
@font-face {
  font-family: 'pt_sansregular';
  src: url('/v${OCA_VERSION}/fonts/PTSans/PTS55F-webfont.eot');
  src: url('/v${OCA_VERSION}/fonts/PTSans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('/v${OCA_VERSION}/fonts/PTSans/PTS55F-webfont.woff') format('woff'), url('/v${OCA_VERSION}/fonts/PTSans/PTS55F-webfont.ttf') format('truetype'), url('/v${OCA_VERSION}/fonts/PTSans/PTS55F-webfont.svg#pt_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'icons';
  src: url('/v${OCA_VERSION}/fonts/icons/icons.eot');
  src: url('/v${OCA_VERSION}/fonts/icons/icons.eot?#iefix') format('embedded-opentype'), url('/v${OCA_VERSION}/fonts/icons/icons.woff') format('woff'), url('/v${OCA_VERSION}/fonts/icons/icons.ttf') format('truetype'), url('/v${OCA_VERSION}/fonts/icons/icons.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"],
[class*=" icon-"],
[class*=" icon "] {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-zoom_out:before {
  content: "\e600";
}
.icon-zoom_in:before {
  content: "\e601";
}
.icon-xlarge_icons:before {
  content: "\e602";
}
.icon-world_map:before {
  content: "\e603";
}
.icon-word_logo:before {
  content: "\e604";
}
.icon-wifi:before {
  content: "\e605";
}
.icon-warning_shield:before {
  content: "\e606";
}
.icon-volume_up:before {
  content: "\e607";
}
.icon-visible:before {
  content: "\e608";
}
.icon-user:before {
  content: "\e609";
}
.icon-upload:before {
  content: "\e60a";
}
.icon-twitter:before {
  content: "\e60b";
}
.icon-tear_off_calendar:before {
  content: "\e60c";
}
.icon-table_arrow_up:before {
  content: "\e60d";
}
.icon-table_arrow_down:before {
  content: "\e60e";
}
.icon-suitecase:before {
  content: "\e60f";
}
.icon-statistics:before {
  content: "\e610";
}
.icon-social_share:before {
  content: "\e611";
}
.icon-settings_wrench:before {
  content: "\e612";
}
.icon-settings:before {
  content: "\e613";
}
.icon-search:before {
  content: "\e614";
}
.icon-save:before {
  content: "\e615";
}
.icon-rss:before {
  content: "\e616";
}
.icon-ribbon:before {
  content: "\e617";
}
.icon-revert:before {
  content: "\e618";
}
.icon-resize-triangle:before {
  content: "\e619";
}
.icon-reply:before {
  content: "\e61a";
}
.icon-read_message_phone_error:before {
  content: "\e61b";
}
.icon-read_message_phone:before {
  content: "\e61c";
}
.icon-read_message:before {
  content: "\e61d";
}
.icon-radio_tower:before {
  content: "\e61e";
}
.icon-radio-unchecked:before {
  content: "\e61f";
}
.icon-radio-checked:before {
  content: "\e620";
}
.icon-radial:before {
  content: "\e621";
}
.icon-print:before {
  content: "\e622";
}
.icon-previous2:before {
  content: "\e623";
}
.icon-previous:before {
  content: "\e624";
}
.icon-polyline:before {
  content: "\e625";
}
.icon-polygon:before {
  content: "\e626";
}
.icon-poll_topic:before {
  content: "\e627";
}
.icon-plus2:before {
  content: "\e628";
}
.icon-play:before {
  content: "\e629";
}
.icon-pin3:before {
  content: "\e62a";
}
.icon-pie:before {
  content: "\e62b";
}
.icon-phone:before {
  content: "\e62c";
}
.icon-pencil:before {
  content: "\e62d";
}
.icon-pdf:before {
  content: "\e62e";
}
.icon-partly_cloudy_day:before {
  content: "\e62f";
}
.icon-next3:before {
  content: "\e630";
}
.icon-next2:before {
  content: "\e631";
}
.icon-next:before {
  content: "\e632";
}
.icon-money_bag:before {
  content: "\e633";
}
.icon-mobile:before {
  content: "\e634";
}
.icon-minus2:before {
  content: "\e635";
}
.icon-message:before {
  content: "\e636";
}
.icon-menu2:before {
  content: "\e637";
}
.icon-medal:before {
  content: "\e638";
}
.icon-marker:before {
  content: "\e639";
}
.icon-map_marker:before {
  content: "\e63a";
}
.icon-map:before {
  content: "\e63b";
}
.icon-lock:before {
  content: "\e63c";
}
.icon-last2:before {
  content: "\e63d";
}
.icon-last:before {
  content: "\e63e";
}
.icon-key_security:before {
  content: "\e63f";
}
.icon-info:before {
  content: "\e640";
}
.icon-home:before {
  content: "\e641";
}
.icon-help:before {
  content: "\e642";
}
.icon-guest:before {
  content: "\e643";
}
.icon-group_assett:before {
  content: "\e644";
}
.icon-group:before {
  content: "\e645";
}
.icon-globe_earth:before {
  content: "\e646";
}
.icon-geo_fence:before {
  content: "\e647";
}
.icon-folder_opened2:before {
  content: "\e648";
}
.icon-folder_opened:before {
  content: "\e649";
}
.icon-folder2:before {
  content: "\e64a";
}
.icon-folder:before {
  content: "\e64b";
}
.icon-flow-chart:before {
  content: "\e64c";
}
.icon-first2:before {
  content: "\e64d";
}
.icon-first:before {
  content: "\e64e";
}
.icon-find_user:before {
  content: "\e64f";
}
.icon-find_save_user:before {
  content: "\e650";
}
.icon-film:before {
  content: "\e651";
}
.icon-filled_flag:before {
  content: "\e652";
}
.icon-filled_filter:before {
  content: "\e653";
}
.icon-file_warning:before {
  content: "\e654";
}
.icon-file_tick:before {
  content: "\e655";
}
.icon-file_requests:before {
  content: "\e656";
}
.icon-file_report:before {
  content: "\e657";
}
.icon-file_pencil:before {
  content: "\e658";
}
.icon-file_clock:before {
  content: "\e659";
}
.icon-file:before {
  content: "\e65a";
}
.icon-excel:before {
  content: "\e65b";
}
.icon-error:before {
  content: "\e65c";
}
.icon-engineering:before {
  content: "\e65d";
}
.icon-empty_flag:before {
  content: "\e65e";
}
.icon-edit_property:before {
  content: "\e65f";
}
.icon-dropdown-arrow:before {
  content: "\e660";
}
.icon-drafting_compass:before {
  content: "\e661";
}
.icon-download:before {
  content: "\e662";
}
.icon-down_circ_arrow:before {
  content: "\e663";
}
.icon-document:before {
  content: "\e664";
}
.icon-diamond_empty:before {
  content: "\e665";
}
.icon-diamond2:before {
  content: "\e666";
}
.icon-dashboard:before {
  content: "\e667";
}
.icon-contacts2:before {
  content: "\e668";
}
.icon-conference_im:before {
  content: "\e669";
}
.icon-collapse:before {
  content: "\e66a";
}
.icon-collaboration:before {
  content: "\e66b";
}
.icon-cloud_refresh:before {
  content: "\e66c";
}
.icon-cloud_okay:before {
  content: "\e66d";
}
.icon-cloud_error:before {
  content: "\e66e";
}
.icon-close2:before {
  content: "\e66f";
}
.icon-close:before {
  content: "\e670";
}
.icon-clock:before {
  content: "\e671";
}
.icon-clipboard:before {
  content: "\e672";
}
.icon-circle_empty:before {
  content: "\e673";
}
.icon-circle-dot:before {
  content: "\e674";
}
.icon-circ_x:before {
  content: "\e675";
}
.icon-circ_tick:before {
  content: "\e676";
}
.icon-circ_minus:before {
  content: "\e677";
}
.icon-checkmark:before {
  content: "\e678";
}
.icon-checkbox_tick:before {
  content: "\e679";
}
.icon-checkbox_minus:before {
  content: "\e67a";
}
.icon-checkbox:before {
  content: "\e67b";
}
.icon-calendar:before {
  content: "\e67c";
}
.icon-broadcasting:before {
  content: "\e67d";
}
.icon-box2:before {
  content: "\e67e";
}
.icon-attach:before {
  content: "\e67f";
}
.icon-arrow-dr:before {
  content: "\e680";
}
.icon-area_chart:before {
  content: "\e681";
}
.icon-apartament:before {
  content: "\e682";
}
.icon-air_force:before {
  content: "\e683";
}
.icon-administrator_role:before {
  content: "\e684";
}
.icon-add_file:before {
  content: "\e685";
}
.icon-triangle:before {
  content: "\e686";
}
.icon-bell:before {
  content: "\e687";
}
.icon-bell_disabled:before {
  content: "\e688";
}
/*
 * Line up sprites on the grid. Origin is in the top left corner (0,0).
 *
 */
body {
  margin: 16px;
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 12px;
  line-height: 125%;
  background-color: white;
}
body.inline {
  margin: 0px;
  margin-left: 5px;
  margin-right: 5px;
}
.print-header,
.print-footer {
  display: none;
}
@media print {
  body {
    font-family: Cambria, Times new roman, Times, Serif;
    font-size: 12pt;
    line-height: 125%;
  }
  a,
  a:visited {
    color: blue;
    text-decoration: underline;
  }
  .print-header {
    display: block;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: black;
    margin-bottom: 0.5em;
    padding-bottom: 0.25em;
  }
  .print-header h1 {
    font-size: 16pt;
    border-bottom: 0px !important;
    margin: 0px !important;
  }
  .print-header h2 {
    font-size: 11pt;
    font-style: italic;
    margin: 0px !important;
  }
  .print-footer {
    display: block;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: black;
    margin-top: 0.5em;
    padding-top: 0.4em;
    font-size: 9pt;
    text-align: right;
  }
}
ul,
ol,
li {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
table {
  margin-top: 0.5em;
  border-collapse: collapse;
  margin-bottom: 0.5em;
}
td,
th {
  line-height: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: #c0c0c0;
  text-align: left;
  vertical-align: top;
  padding: 4px;
  padding-left: 5px;
  padding-right: 5px;
  font-family: Arial, Helvetica, Sans Serif;
  font-size: 12px;
  line-height: 125%;
}
img {
  border-width: 0px;
  border-style: none;
  margin-left: 4px;
  margin-right: 4px;
}
h1,
h2,
h3,
h4,
h5,
pre {
  margin: 0em;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
h1 {
  font-size: 1.3em;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: black;
  padding-bottom: 0.25em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 1em;
}
h4 {
  font-size: 0.9em;
}
h5 {
  font-size: 0.8em;
}
p {
  margin: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-left: 0px;
  margin-right: 0px;
}
pre {
  border-width: 1px;
  border-style: dashed;
  border-color: #6fab9f;
  background-color: #fbfffb;
  overflow: auto;
  display: block;
  font-family: Courier New;
  white-space: nowrap;
}
.readonly pre {
  padding: 0.8em;
}
.-ng-diff-delete {
  color: red;
  text-decoration: line-through;
}
h1.-ng-diff-delete {
  border-bottom-color: red;
}
img.-ng-diff-delete,
.-ng-diff-delete img {
  border-width: 2px;
  border-style: dashed;
  border-color: red;
  opacity: 0.5;
  -moz-opacity: 0.5;
}
.-ng-diff-insert {
  color: green;
}
h1.-ng-diff-insert {
  border-bottom-color: green;
}
blockquote {
  font-style: italic;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #747474;
  padding-left: 5px;
  background-color: #E6E6E6;
}
.ocareplacement {
  margin: 0px 1px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  padding: 2px 5px;
  background-color: #2980b9;
  color: white;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.ocareplacement.green {
  background-color: #19a488 !important;
  color: white;
}
.ocareplacement.orange {
  background-color: #ef4f21 !important;
  color: white;
}
span[ngendnote]:after,
span[ngfootnote]:after {
  vertical-align: super;
}
span[ngendnote]:after {
  content: '[e]';
}
span[ngfootnote]:after {
  content: '[f]';
}
